In [1]:
import pandas as pd
df = pd.read_csv('churnCopy.csv')

In [2]:
#pip install --user pandas

In [3]:
print(df)

     customerID tenure        Contract PaperlessBilling  \
0    8260-NGFNY    One  Month-to-month               No
1    2359-QWQUL     39        One year              Yes
2    6598/RFFVI      2        One year               No
3    IXSTS-8780      6  Month-to-month              Yes
4    2674/MIAHT   Four  Month-to-month              Yes
..          ...    ...             ...              ...
253  9067-SQTNS     44        One year               No
254  9067-SQTNS     44        One year               No
255  9067-SQTNS     44        One year               No
256  9067-SQTNS     44        One year               No
257  9067-SQTNS     44        One year               No

                 PaymentMethod  MonthlyCharges  TotalCharges  gender  \
0                 Mailed check            25.2         25.20  Female
1      Credit card (automatic)           104.7       4134.85  Female
2      Credit card (automatic)            19.3         28.30    Male
3             Electronic check            90.1        521.30  Female
4                 Mailed check            80.3        324.20  Female
..                         ...             ...           ...     ...
253  Bank transfer (automatic)            20.6        926.00    Male
254  Bank transfer (automatic)            20.6        926.00    Male
255  Bank transfer (automatic)            20.6        926.00    Male
256  Bank transfer (automatic)            20.6        926.00    Male
257  Bank transfer (automatic)            20.6        926.00    Male

     SeniorCitizen Partner  ... PhoneService     MultipleLines  \
0              0.0      No  ...           No  No phone service
1              0.0     Yes  ...          Yes                No
2              0.0      No  ...          Yes                No
3              0.0      No  ...          Yes               Yes
4              0.0      No  ...          Yes               Yes
..             ...     ...  ...          ...               ...
253            0.0     Yes  ...          Yes                No
254            0.0     Yes  ...          Yes                No
255            0.0     Yes  ...          Yes                No
256            0.0     Yes  ...          Yes                No
257            0.0     Yes  ...          Yes                No

    InternetService       OnlineSecurity         OnlineBackup  \
0               DSL                   No                   No
1       Fiber optic                  Yes                   No
2                No  No internet service  No internet service
3       Fiber optic                   No                  Yes
4       Fiber optic                   No                  Yes
..              ...                  ...                  ...
253              No                  Yes                  Yes
254              No                  Yes                  Yes
255              No                  Yes                  Yes
256              No                  Yes                  Yes
257              No                  Yes                  Yes

        DeviceProtection          TechSupport          StreamingTV  \
0                     No                   No                   No
1                    Yes                  Yes                  Yes
2    No internet service  No internet service  No internet service
3                     No                   No                  Yes
4                     No                   No                   No
..                   ...                  ...                  ...
253  No internet service  No internet service                  Yes
254  No internet service  No internet service                  Yes
255  No internet service  No internet service                  Yes
256  No internet service  No internet service                  Yes
257  No internet service  No internet service                  Yes

         StreamingMovies Churn
0                     No   Yes
1                    Yes   Yes
2    No internet service   Yes
3                     No   Yes
4                     No    No
..                   ...   ...
253  No internet service    No
254  No internet service    No
255  No internet service    No
256  No internet service    No
257  No internet service    No

[258 rows x 21 columns]

In [4]:
# 1. Duplicated rows in dataframe
df.duplicated(keep=False).sum()  
# By default, for each set of duplicated values, the first occurrence is set on False and all others on True. By using 'last', the last occurrence of each set of duplicated values is set on False and all others on True. By setting keep on False, all duplicates are True.

9

In [5]:
#2. customerID duplicates
df['customerID'].duplicated(keep=False).sum()

9

In [6]:
#3 Count number of missing values in each columns 
df.isna().sum()

customerID           0
tenure               0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges      10
TotalCharges        15
gender               0
SeniorCitizen        5
Partner              0
Dependents           0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Churn                0
dtype: int64

In [7]:
#4 Count the total no. of missing values for the variable TotalCharges 
df['TotalCharges'].isna().sum()

15

In [8]:
#5 Average monthly charge paid by a customer for the services he/she has signed up for 
df['MonthlyCharges'].mean()
#df.loc[:,'MonthlyCharges'].mean()

62.3046370967742

In [9]:
#6 Display the records having “1@#” under the variable Dependents
#df['Dependents'].str.contains('1@#').sum()
#df['Dependents'].str.contains('1@#').any()
df[df['Dependents'].str.contains('1@#')]

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,Partner,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
89,1754-GKYPY,22,Month-to-month,Yes,Bank transfer (automatic),89.75,1938.90,Male,1.0,Yes,...,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,No
125,9108-EQPNQ,10,Two year,No,Credit card (automatic),26.10,225.55,Female,0.0,Yes,...,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No
174,2640-PMGFL,27,Month-to-month,Yes,Electronic check,79.50,2180.55,Male,0.0,No,...,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Yes
220,8854-CCVSQ,18,Month-to-month,Yes,Electronic check,80.65,1451.90,Male,0.0,No,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,Yes
234,6876-ADESB,One,Month-to-month,No,Electronic check,48.95,48.95,Male,0.0,No,...,Yes,No,DSL,No,No,Yes,No,No,No,Yes
238,1972-XMUWV,65,Two year,Yes,Credit card (automatic),59.80,3808.20,Female,0.0,Yes,...,Yes,No,DSL,No,No,No,Yes,Yes,No,No

In [11]:
#7 Replace null values in churn dataframe by median value or by max count class category
srs = df.agg({'MonthlyCharges':'mean'})
#print(srs)
df['MonthlyCharges'] = df['MonthlyCharges'].fillna(value=srs)
print(df['MonthlyCharges'])

0       25.2
1      104.7
2       19.3
3       90.1
4       80.3
       ...
253     20.6
254     20.6
255     20.6
256     20.6
257     20.6
Name: MonthlyCharges, Length: 258, dtype: float64

In [ ]:
'''import numpy as np
dft = pd.DataFrame({'user':['1','1','1','1','1','1', '2', '2', '2', '2', '2'], 
                   'ffq':[1, 3, 2, np.nan, 3, np.nan, 3, np.nan, 2, np.nan, 3],
                   'food-category':['fruit', 'fruit', 'vegetables', 'vegetables', 
                                    'vegetables', 'fruit', 'fruit', 'fruit', 'vegetables', 
                                    'vegetables', 'fruit']})'''

In [ ]:
'''srs = dft.agg({'ffq':'mean'})
print(srs)
#df[df['MonthlyCharges'].isnull()]
#print(srs)
dft['ffq'] = dft['ffq'].fillna(value=srs)'''

In [ ]:
#print(dft['ffq'])

In [ ]:
df.columns